html, body {
  /* added overflow-x */ 
  overflow-x: hidden;
}

body {
  /* styling body */
  background-color: white;

  position: relative;
  
  text-align: center;

  font-family: 'Trirong', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: clamp(1.4rem, 1.5vw, 1.4rem);
  font-variant: small-caps slashed-zero;
  
  line-height: 1.6;

  margin: auto;

  max-width: 85ch;

  padding: 2rem;

  box-sizing: border-box;

  width: auto;
}

section {
  /* styling section element */

  /* added background-color */
  background-color: rgb(163, 116, 116);
  
  /* added margin */
  margin: 0;

  /* added padding */
  padding: 2rem 4rem ;

  /* added border properties */
  border-radius: 1rem;
  border-style: solid;

  /* added flex */
  flex-direction: column;
  
  /*added font-family */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  /* changing hover color to green */
  color: green;
  background-color: orange;
  
  /* added font-size */
  font-size: 1.5rem;
}

h1 {
  /* styling heading 1 */
  padding: 0;
  
  text-align: center;
  
  margin: auto;
}

h2 {
  /* styling heading 2 elements */
  font-size: 35px;

  color: orange;

  margin: auto;

  display: block;
  
  max-width: 100%;
}

h3 {
  /* styling heading 3 elements */
  font-size: 25px;
}

ul {
  padding: 0;
}

li {
  /* styling listed items */
  list-style-type: none;
}

select[id="dropdown"] {
  /* styling dropdown section */
  width: 10em;
  
  height: 2em;

  margin: auto;
}

p[id="dropdown"] {
  /* styling p[id="dropdown"] section */
  text-align: center;
}

input[type="submit"] {
  /* styling submit button */
  margin: auto;

  width: 10em; 
  
  height: 2em;
}

textarea {
  /* styling text-area */
  resize: none;
  
  height: auto;
  
  width: 100%;
  max-width: 500px;

  margin: auto;
}

.intro-image {
  /* styling image */
  
  margin: auto;
  
  display: block;
  
  max-width: 100%;
}