body {
  /* styling body */
  background-color: white;  
  
  text-align: center;

  font-family: Trirong, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  
  color: black;

  line-height: 1.6;

  margin: auto;

  max-width: 85ch;

  padding: 2rem;

  box-sizing: border-box;
}

section {
  /* styling section element */
  background-color: rgb(163, 116, 116);
  
  margin: 0;

  padding: 2rem 4rem;

  border-radius: 1rem;
  border-style: solid;

  flex-direction: column;
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  /* changing hover color to green */
  color: green;

  font-size: 1.5em;
}

h2 {
  /* styling heading 2 elements */
  font-size: 40px;
}

h3 {
  /* styling heading 3 elements */
  font-size: 25px;
}

li {
  /* styling listed items */
  list-style-type: none;
}

select[id="dropdown"] {
  /* styling dropdown section */
  width: 10em;
  
  height: 2em;

  margin: auto;
}

p[id="dropdown"] {
  /* styling p[id="dropdown"] section */
  text-align: center;
}

input[type="submit"] {
  /* styling submit button */
  margin: auto;

  width: 10em; 
  
  height: 2em;
}
