body {
  /* styling body */
  background-color: #22f5d5;

  text-align: center;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;

  line-height: 1.6;

  margin: auto;

  max-width: 85ch;

  padding: 2rem;

  box-sizing: border-box;
}

section {
  /* styling section element */
  border-style: solid;
  border-radius: 20%; 
}

li {
  /* styling listed items */
  list-style-type: none;
}